<div class = "chat-header">
  <div class = "header-left">
    <div class = "group-name">
    hogefuga
    </div>
  </div>
  <div class = "header-right">
    <div class = "chat-end">
      <a href = "#" style="text-decoration:none;">チャットを終了する</a>
    </div>
  </div>
</div>

<div class = "messages">
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-name">
      Hiro
      </div>
      <div class = "message-date">
      2021/2/14(Sun) 15:39:45
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message-content">
      おはよう
      </div>
    </div>
  </div>
  <div class = "message">
    <div class = "upper-message">
      <div class = "message-name">
      Hikari
      </div>
      <div class = "message-date">
      2021/2/12(Fri) 12:24:09
      </div>
    </div>

    <div class = "lower-message">
      <div class = "message-content">
      完全感覚
      </div>
    </div>
  </div>
</div>

<div class = "form">
  <div class = "left-form">
    <input type = "", placeholder = "Type a Message", class = "message-button">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input type = "submit", value = "送信", class = "submit-button">
</div>