<div class="side-bar-header">
  <div class = "user-name">
    <a href = "#" style="text-decoration:none;">Hiro</a>
  </div>
  <div class = "make-room">
    <a href = "#" style="text-decoration:none;">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class = "room">
    <div class = "room-name">
      <a href = "#" style="text-decoration:none;">techroom1</a>
    </div>
  </div>
  <div class = "room">
    <div class = "room-name">
      <a href = "#" style="text-decoration:none;">techroom2</a>
    </div>
  </div>
</div>